dist/
deployments/
artifacts/
cache/
coverage/
node_modules/
package.json
solc_0.7/diamond/*
solc_0.7/openzeppelin/*
solc_0.8/openzeppelin/*
solc_0.8/proxy/OptimizedTransparentUpgradeableProxy.sol
solc_0.7/proxy/Proxy.sol
.yalc/
